.CHdr {
	background-color: #9FB0BA;
}
.FHdr {
	background-color: #C8D8E1;
}
.ConHdr {
	background-color: #D3CCA1;
}
.MHdr {
	background-color: #F0EAC8;
}
td {
vertical-align:top
}
td.FList {
width:40%
vertical-align:top;
}
td.ConList {
width:40%;
vertical-align:top;
}
td.MList {
width:40%;
vertical-align:top;
}
td.midcol{
width:20%;
}
td.col3 {
width:40%
}
.indent {
padding-left: 20px;
font-weight:bold;
}

td.hdr {
	padding-top: 10px;
}
td.ftr {
	padding-bottom: 10px;
}

